figure.mainbanner {
  width: 100%;
  display: grid;
  // margin-top: 56px;

  font-size: 64px;
  grid-column: 1/2;
  grid-row: 1/3;

  overflow: hidden;

  // :hover {
  //   transform: scale(1.1);
  //   transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  // }
}

figure.mainbanner img {
  width: 100%;
  max-height: 600px;
  // max-width: 1400px;
  grid-column: 1/2;
  grid-row: 1/3;
  margin-left: auto;
  margin-right: auto;
}

// @media only screen and (min-width: 1400px) {
//   figure.mainbanner img {
//     width: 90%;
//     margin-left: auto;
//     margin-right: auto;

//   }
// }

figure.mainbanner figcaption {
  color: white;
  font-size: 48px;
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;

  opacity: 0.85;

  .slogan {
    color: #8d1a05;
    // font-family:  cursive;
  }
}

@media only screen and (min-width: 560px) {
  figure.mainbanner img {
   width: 100vw;
  }

  figure.mainbanner figcaption {
    font-size: 48px;

    .slogan {
      color: #c84028;
      // font-family:  cursive;
    }
  }
}
