.about{
	cursor: pointer;
	// background-color: #bf3626;
	color: black;
	padding-top: 56px;
	// padding-bottom: 82px;
	height: 85vh;
	// max-width: 80%;0

    // margin-top: 56px;
}

.about-btn {
	color: gold;
}
